@charset "utf-8";
/* CSS Document */

#paperOrientation_dropdown {
	display:inline;
	margin-top:0;
	width:285px;
	margin-top:12px;
}
.dropdown {
	border: 1px solid #efefef;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/combo_bg.png);
	padding: 0px 7px;
	position:absolute;
	z-index:999;
}
.hover_dropdown {
	background:url(../images/combo_bg.png);
}
.active_dropdown {
	border-color: #efefef;
	background:url(../images/combo_bg.png);
}
 
.dropdownlist {
	list-style: none;
	-moz-border-radius: 0px 0px 3px 3px;
	-o-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	cursor: pointer;
	-webkit-box-shadow: 2px 2px 5px #D8D8D8;
	-moz-box-shadow: 2px 2px 5px #D8D8D8;
	box-shadow: 2px 2px 5px #D8D8D8;
 filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#D8D8D8');
	position: absolute;
	display: none;
	background:url(../images/dropdown_bg.png);
	margin-top:12px;
	z-index:999;
	width:286px;
	padding:0px 7px;
}
.dropdownlist li {
	border-bottom: 1px solid #efefef;
	color:#666666;
}
.dropdownlist li.active img {
	display:none;
}
.dropdownlist li.hover {
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.dropdownlist li.hover p {
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color:#467abb !important;
}
.dropdown .imgholder, .dropdownlist .imgholder {
	display:none;
}
.dropdown p, .dropdownlist p {
	margin: 2px 4px 0px 2px;
	color: #8A8A8A;
	height: 31px;
}
.dropdown p.no-info, .dropdownlist p.no-info {
	height: 22px;
	line-height:23px;
	font-family:Arial;
	font-size:12px;
	color:#8f8f8f;
}
.dropdown p {
	background:url(../images/combo_arrow.png) no-repeat right;
}
.dropdown p strong, .dropdown_no-info p strong, .dropdownlist p strong {
 color:;
}
/*-----------------------------------------help dropdown---------------------------------------------------*/



#paperOrientation_help_dropdownlist {
	margin-left:286.5px;
}
#paperOrientation_help_dropdown {
	display:inline;
	margin-top:0;
	width:285px;
	margin-top:12px;
	margin-left:285px;
}
/*-------------------------------------------specialization-----------------------------------------------------*/



#paperOrientation_spec_dropdownlist {
	margin-left:0px;
	width:215px;
}
#paperOrientation_spec_dropdown {
	display:inline;
	margin-top:0;
	width:212px;
	margin-top:12px;
	margin-left:0px;
}
/*---------------------------------------------services-------------------------------------------------------------*/



#paperOrientation_serv_dropdownlist {
	margin-left:0px;
	width:215px;
}
#paperOrientation_serv_dropdown {
	display:inline;
	margin-top:0;
	width:212px;
	margin-top:12px;
	margin-left:0px;
}
/*---------------------------------------------information-------------------------------------------------------------*/



#paperOrientation_info_dropdownlist {
	margin-left:0px;
	width:215px;
}
#paperOrientation_info_dropdown {
	display:inline;
	margin-top:0;
	width:212px;
	margin-top:12px;
	margin-left:0px;
}
